html {
    scroll-behavior: smooth;
}

body {
   margin: 0;
}

@font-face {
    font-family:"letraNueva";
    src: url(plantillas/Amaline\ Trial.otf);
}

img {
    height: 85vh;
    width: 100vw;
}



/* header */

header {
    width: 100%;
    position: fixed;
    z-index: 11;
    margin-top: 40vh;
}

.menu {
    width: 96%;
    height: 6rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.change {
    position: absolute;
    display: none;
}

.change:checked + .lista {
    display: block;
    
}

.lista {
    display: none;
}

ul {
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background-color: rgba(78, 76, 78, 0.9);
    animation: aparecer 1s;
}

ul li {
    list-style:none;
    /* background-color: rgb(82, 150, 82);
    /* width: 50vw; */
    align-items: flex-start;
    justify-content: center;
    font-family:"letraNueva";
    font-weight: 900;
}

ul li:hover {
    background: rgb(199, 211, 195);
    box-shadow: 2px 2px 15px black;
    border-radius: 20%;

}

.color {
    color:rgb(63, 6, 75);
}

a {
    text-decoration: none;
    color: rgba(48, 16, 53, 0.931);
    font-size: 20px;
}

.icon {
    margin-top: 2%;
}



/* Section  */

.seccion {
    height: 48rem;
    width: 100vw;
}

h3 {
    background-color: rgba(190, 181, 151, 0.959);
    width: 100%;
    text-align: center;
    font-family:"letraNueva";
    color: rgba(39, 122, 31, 0.979);
}

.ci {
    animation: desliz 5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    overflow: hidden;
}

/* Section-Presentacion  */


.jardin {
    background-color: rgba(190, 181, 151, 0.959);
    width: 100%;
    height: 94%;  
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: space-around;
}

.jardin-p {
    
    z-index: 10;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 95%;
    height: 95%;
    opacity: 0.8;
}

.cuadro {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    animation: aparecer 3s;

}

.contenedor-cuadro-1 {
    height: 65%; 
} 
.cuadro-1 {
    color: rgba(39, 122, 31, 0.979);
    width: 12rem;
    height: 60%;
    font-size: 30px;
    font-family:"letraNueva";
}

.contenedor-diseño {
    width: 10rem;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diseño  {
    border: 2px solid rgb(154, 163, 22);
    border-radius: 10%;
    background-color: rgba(55, 194, 42, 0.6);
    font-family:"letraNueva";
    animation: temblor 1s 2;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    width: 8rem;
    height: 80%;
}

.foto-planta {
    background-image: url(plantasTransparente.png);
    width: 8rem;
    height: 60%;
    position: relative;
    background-repeat:no-repeat;
    background-size:  8rem 90%;
    margin-top: 1%;
}




/* Sesion */

.change-2 {
    position: absolute;
    display: none;
}

.change-2:checked + .sesion-form {
    display: block;
    
}

.sesion {
    width: 100%;
    height: 50%;
    margin-top: 2%;
    /* margin-right: 0%; */
}

.contenedor-sesion-form {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    /* background-color: rgba(78, 76, 78, 0.9); */
    opacity: 0.8;
}

#inicio-sesion {
margin-top: 2%;
width: 15rem;
height: 12.5rem;
margin-left: 10%;
box-shadow: 2px 2px 15px rgb(42, 78, 48);
border-radius: 10px;
background-color: rgba(78, 76, 78, 0.3);
}

.sesion-2 {
    display: none;
}
#inicio-sesion  p{
    text-align: center;
    color: rgb(71, 71, 73);
    font-weight: 500;
}

.icono-sesion {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 95%;
    height: 10%;
    
}

.button-x2 {
    margin-top: 4%;
    margin-left: 6%;
    display: flex;
    flex-direction: row;
}

.button-sesion {
    width: 45%;
    margin:1%;
}

.registrate {
    margin: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-sesion {
    height: 12%;
    margin-top: 4%;
    margin-left: 8%;
}
.sesion-form {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 100;
    animation: aparecer 1s;
}



/* Section-Plantas */

.caracteristicas-plantas {
    width: calc(100%-90rem);
    height: 65%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(144, 216, 148,0.3);   
}

.caracteristicas-plantas-2 {
    margin: 1.4rem;
    
}

/* carrusel */

.contenedor {
    width: 100%;
    position: relative;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(190, 181, 151, 0.959);

}

#imagen {  
    width: 16rem;
    height: 350px;
    overflow: hidden;
    margin-top: 12%;
    box-shadow: 2px 1px;
}

.contenedor-bottom {
    width: 10rem;
    height: 8%;
    margin-top: 1%;
    background-color: rgba(77, 100, 72, 0.959);
    box-shadow: 2px 2px 15px rgba(78, 97, 73, 0.959);
    /* box-shadow: 2px 2px 15px rgb(42, 78, 48); */
    border-radius: 10px;
    z-index: 8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bottom {
    font-size: 30px;
    width: 2rem;
    line-height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.bottom:hover {
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.atras {
    left: 30%;
}

.adelante {
    right: 30%;
}



/* Section-Sanidad */

.contenedor-sanidad {
    width: 100%;
    height: 94%;
    background-color: rgba(190, 181, 151, 0.959);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-sanidad {
    font-size: 16px;
    background-color: rgb(144, 216, 148,0.3);
    width: 18rem;
    box-shadow: 2px 2px 15px rgb(42, 78, 48);
    border-radius: 10px;
    text-align: left;
}

.sanidad-foto {
    width:18rem;
    height: 20rem;
}

.diseño-2 {
    border: 2px solid rgb(154, 163, 22);
    border-radius: 10%;
    background-color: rgba(55, 194, 42, 0.6);
    font-family:"letraNueva";
    animation: temblor 1s 2;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    width: 10rem;
    height: 100%;
    
}

.contenedor-diseño-2 {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
}

.diseño-2 a {
    font-size: 16px;
}



/* Section-Contacto */

.contenedor-contacto {
    width:100%;
    height: 94%;
    background-color: rgba(190, 181, 151, 0.959);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

#contactanos {
    margin-top: 8%;
    width: 17rem;
    height: 26rem;
    box-shadow: 2px 2px 15px rgb(42, 78, 48);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    }
        
  
    
/* form */


input {
    width: 80%;
    height: 1.4rem;
    margin-left: 4%;
    border: 1px solid rgb(154, 163, 22); 
    box-shadow: 2px 2px rgb(164, 173, 32);
}

input:focus {
    border: 1px solid rgb(154, 163, 22); 
    box-shadow: 2px 2px rgb(88, 94, 15);
    outline: none;
}

textarea {
    border: 1px solid rgb(154, 163, 22); 
    box-shadow: 2px 2px rgb(164, 173, 32);
    margin-left: 4%;
    resize: none;
}

textarea:focus {
    border: 1px solid rgb(154, 163, 22); 
    box-shadow: 2px 2px rgb(88, 94, 15);
    outline: none;
}

#envio {
    margin-top: 4%;
    width: 40%;
}

form {
    /* display: flex; */
    flex-direction: column;
    align-items: space-around;
    width: 90%;
    background-color: rgb(144, 216, 148,0.3);
    margin-left: 0%;
}


/* Redes Sociales */

.redes-sociales {
    /* margin-top: 10%; */
    height: 32%;
    background-color: rgb(233, 224, 224,0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.ajustar {
    width: 90%;
    height: 15rem;
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
}

.social {
    font-size: 50px;
}



/* Footer */

.footer {
    margin-top: 10%;
    width: 100%;
    height: 2rem;
    background-color: rgba(190, 181, 151, 0.959);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ultimo {
    text-align: center;
   
}



/* Animaciones  */


@keyframes temblor {
    from {
        
    }
    to {
        transform: scale(1.05)
        
    }
}


@keyframes aparecer {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


@keyframes desliz {
    from {
        margin-left: -30%;
    }
    to {
        margin-left: 26%;
    }
}




/* media queries */


@media  (min-width: 320px) and (max-width: 476px){ 
   
      
}

@media  (min-width: 477px) and (max-width: 599px){ 
  
    /* header */
    .menu {
    width: 95%;
    height: 1.2rem;
    flex-direction: row;
    align-items: start;
    justify-content: center;
   }
   
    .lista {
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    ul {
        /* margin-left: 6%; */
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-around;
        width: 40rem;
        height: 1.12rem;
        animation: aparecer 3s;
    }

    ul li a{
        font-size: 16px;
    }

    .icono-flecha {
        display: none;
    }

    header {
     margin-top:0;
        top: 0;
    }

    .sesion-2 {
        display: block;
        width: 7rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .sesion-2 p {
        font-size: 14px;
        font-weight: 600;
        color: rgb(63, 6, 75);
        ;
    }

    .fa-user {
        display: none;
    }
}




@media  (min-width: 600px) and (max-width: 767px){ 
   
   /* header */
    .menu {
        width: 95%;
        height: 1.2rem;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
       }
       
        .lista {
            display: block;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
        }
    
        ul {
            /* margin-left: 6%; */
            display: flex;
            flex-direction: row;
            align-items: end;
            justify-content: space-around;
            width: 40rem;
            height: 1.12rem;
            animation: aparecer 3s;
        }
    
        ul li a{
            font-size: 16px;
        }
    
        .icono-flecha {
            display: none;
        }
    
        header {
            width: 100%;
            position: fixed;
            z-index: 11;
            margin-top:0;
            top: 0;
        }
    
        .sesion-2 {
            display: block;
            width: 8rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
    
        .sesion-2 p {
            font-size: 16px;
            font-weight: 600;
            color: rgb(63, 6, 75);
            ;
        }
    
        .fa-user {
            display: none;
        }

        /* seccion-presentacion */

                
                
        .cuadro {
            justify-content: space-around;
        }

    
        .cuadro-1 {
            font-size: 40px;
        }
        
        
             
        
        /* Section-Plantas */


.caracteristicas-plantas-2 {
    font-size: 1.2rem;
}

/* carrusel */


#imagen {  
    width: 22rem;
    height: 395px;
    margin-top: 10%;
}

.contenedor-bottom {
    width: 12.5rem;
   }

.bottom {
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



/* Section-Sanidad */


.info-sanidad {
    font-size: 20px;
    width: 22rem;
}

.sanidad-foto {
    width:22rem;
}



/* Section-Contacto */



#contactanos {
    width: 22rem;
    }
        
  
    
/* form */





textarea {
    width: 80%;
}


#envio {
    margin-top: 4%;
}


/* Redes Sociales */

.redes-sociales {
    height: 30%;
}

.ajustar {
    width: 82%;
}


}

@media  (min-width: 769px) and (max-width: 1023px){ 
    

}