html {
    scroll-behavior: smooth;
}

ul li {
    list-style:none;
    /* background-color: rgb(82, 150, 82); */
    /* width: 50vw; */
    align-items: center;
    justify-content: center;


}
li:hover {
    background: rgb(166, 206, 166);

}
ul {
    /* margin-left: -40%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 90vh;
    background-color: rgba(104, 156, 127, 0.8);
    animation: aparecer 1s;
}

nav {
    background-color: green;
    width: 100%;
}

img {
    position: relative;
}

.jardin-p {
    z-index: 10;
    margin-top: 5%;
    margin-left: 2%;
    width: 40%;
    height: 60%;
    background-color: rgb(113, 184, 140,0.9);
    border: 2px solid green;
    position: absolute;
    
}

.lista {
    display: none;
}

@keyframes aparecer {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.ci {
    animation: desliz 5s;
    animation-iteration-count:infinite;
}

@keyframes desliz {
    from {
        margin-left: -30%;
    }
    to {
        margin-left: 35%;
    }
}
.menu {
    width: 96%;
    height: 35px;
    display: flex;
    justify-content: end;
    align-items: center;
}

input {
    position: absolute;
    display: none;
}

.change:checked + .lista {
    display: block;
    
}


.icon {
    margin-top: 2%;
}
    

a {
    text-decoration: none;
    color: rgb(29, 34, 28);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

}

.cuadro-1 {
    font-size: 25px;
    color: rgba(43, 40, 40, 0.932);
}

h3 {
    background-color: rgb(34, 104, 44);
    width: 100%;
    text-align: center;
    color: aliceblue;
}
img {
    height: 80vh;
}



.seccion {
    height: 100vh;

}



header {
    width: 100%;
    position: fixed;
    z-index: 11;
    margin-top: 40vh;
}

